/* App.css */
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px;
}

.App-header img {
  height: 200px;
  width: 200px;
}

.App-body {
  font-size: 1.2rem;
  padding: 20px;
  min-height: 50vh;
}

.App-footer {
  font-size: 1rem;
  padding: 10px;
  text-align: center;
  border-top: 1px solid #ccc;
}